@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.letter-container {
    background-image: linear-gradient(100deg, #fff3fd, rgb(255, 225, 255), rgb(255, 206, 238), #ffdbdb, rgb(241, 241, 241)); 
}
.header {
    padding: 20px 0 0 0;
    text-align: center;
    font: 30px "DynaPuff", cursive;
    color: rgb(207, 0, 131);
}
.para {
    background-color: rgba(170, 0, 212, 0.1);
    padding: 20px 10px;
    font: 25px "cookie", sans-serif;
    color: rgb(109, 0, 177);
    line-height: 25px;
}